@import '../../Styles/variables.scss';

.about-content {
	display: flex;
	flex-direction: column;
	max-width: 30rem;
	margin-left: 15rem;
	margin-top: 20rem;
	z-index: 999;
	position: fixed;

	.about-title {
		display: flex;
		flex-direction: row;
		cursor: pointer;
		margin-bottom: -1rem;
	}

	.open {
		animation: open 2s forwards;
	}
	.closed {
		animation: closed 2s forwards;
	}

	@keyframes open {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(90deg);
		}
	}
	@keyframes closed {
		0% {
			transform: rotate(90deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	h1 {
		color: $yellow;
		font-family: $azeret;
		font-size: 3rem;
	}

	p {
		font-family: $lato;
		font-size: 23px;
		margin-top: 0rem;
		margin-bottom: 1.25rem;
	}
}
