@import '../../Styles/variables';
.home-icons {
	display: flex;
	align-items: center;
	font-size: 8rem;
	color: $slate;
	margin: 12rem 0 0 20rem;

	div {
		display: flex;
		flex-direction: column;
		margin-left: 2.5rem;
	}

	a {
		transition: 1s;
	}

	a:hover {
		color: $pink;
	}
}
