@import 'variables';

.navbar {
	display: flex;
	flex-direction: column;
	background-color: #fec859;
	position: fixed;
	width: 175.39px;
	height: 100vh;
}
.logo img {
	margin: 36px 0 0 27px;
	width: 330px;
}
.nav-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $slate;
	flex-grow: 1;
	cursor: pointer;

	h1 {
		margin: 0;
		font-size: 60px;
		font-family: $lato;
	}
}
.h {
	background-color: $slate;
	color: $pink;

	.selected {
		color: $white;
		font-size: 30px;
		margin: 0;
	}
}
