@import 'variables';

.navbar {
	display: flex;
	flex-direction: column;
	background-color: #fec859;
	position: fixed;
	width: 175.39px;
	height: 100vh;
	z-index: 999;

	.logo img {
		margin: 36px 0 0 27px;
		width: 330px;
	}
}

.link-list {
	display: flex;
	flex-direction: column;
	background-color: #fec859;
	width: 175.39px;
	height: 100vh;
}

a {
	flex-grow: 1;
	color: inherit;
	text-decoration: none;

	.nav-button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $slate;
		cursor: pointer;
		height: 100%;

		h1 {
			margin: 0;
			font-size: 60px;
			font-family: $lato;
		}
	}
}

.active {
	display: inherit;
	justify-content: center;
	align-items: center;
	background-color: $slate;

	h1 {
		color: $pink;
	}

	.selected {
		color: $white;
		font-size: 30px;
		margin: 0;
	}
}
