@import './Styles/variables';

body {
	min-height: 100vh;
	background-image: url('./images/background-logo.svg');
	background-size: cover;
	background-position: center right;
	z-index: 0;
}

.content {
	display: flex;
	flex-direction: column;
	color: $white;

	.gt {
		font-family: $lato;
		color: $pink;
		margin-right: 0.5ch;
	}

	.home-name h1 {
		color: $yellow;
		font-family: $lato;
		font-weight: $bold;
		margin-top: 1rem;
		margin-left: 27rem;
		font-size: 5rem;
	}

	.alex-headline {
		color: $white;
		font-family: $lato;
		font-weight: $reg;
		margin: -1rem 0 0 27rem;
		font-size: 2.15rem;

		h2 {
			margin: 0 0 0 0;
		}

		hr {
			border: none;
			background-color: $pink;
			width: 25rem;
			height: 0.5rem;
			margin: 1rem 0 0 0;
			padding: 0;
		}
	}

	.bg-logo img {
		margin: 2rem 0 0 62rem;
		width: 62%;
		min-width: 62%;
		position: fixed;
		z-index: 0;
	}
}

.fade-in {
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	animation: fadeOutAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
